body {
  font-family: 'Roboto', sans-serif;
  background: #B3FFAB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-plus {
  float: right;
}

#container {
  width: 360px;
  margin: 100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

span {
  background: #e74c3c;
  height: 40px;
  width: 0;
  margin-right: 20px;
  text-align: center;
  color: white;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}
li:hover span {
  width: 40px;
  opacity: 1.0;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

.completed {
  color: gray;
  text-decoration: line-through;
}
