/* Reset CSS and general rules
========================================================================== */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #292b2c;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.circle {
    border-radius: 50%;
}

.flt-left {
    float: left;
}

.flt-right {
    float: right;
}

.flt-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col {
    float: left;
    padding: 15px;
    width: 100%;
}

/*Clear float*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding: 0 10%;
}

.container-heading {
    padding: 40px 10%;
}

.container-heading > h1,
.container-heading > h2,
.container-heading > h3,
.container-heading > h4,
.container-heading > h5,
.container-heading > h6 {
    text-align: center;
    margin-bottom: 50px;
}

.head-banner {
    width: 100vw;
    max-width:100%;
    height: calc(100vh - 60px);
}

.full-screen-banner {
    width: 100vw;
    max-width:100%;
    height: 100vh;
}

.head-banner img, 
.full-screen-banner img {
    min-width: 100%;
    max-height: 100%;
}

/* Responsive grid
========================================================================== */

/* Small Screen */

@media only screen and (min-width: 576px) {
    .sm1 {
        width: 8.33%;
    }
    .sm2 {
        width: 16.66%;
    }
    .sm3 {
        width: 25%;
    }
    .sm4 {
        width: 33.33%;
    }
    .sm5 {
        width: 41.66%;
    }
    .sm6 {
        width: 50%;
    }
    .sm7 {
        width: 58.33%;
    }
    .sm8 {
        width: 66.66%;
    }
    .sm9 {
        width: 75%;
    }
    .sm10 {
        width: 83.33%;
    }
    .sm11 {
        width: 91.66%;
    }
    .sm12 {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .push-sm1 {
        margin-left: 8.33%;
    }
    .push-sm2 {
        margin-left: 16.66%;
    }
    .push-sm3 {
        margin-left: 25%;
    }
    .push-sm4 {
        margin-left: 33.33%;
    }
    .push-sm5 {
        margin-left: 41.66%;
    }
    .push-sm6 {
        margin-left: 50%;
    }
    .push-sm7 {
        margin-left: 58.33%;
    }
    .push-sm8 {
        margin-left: 66.66%;
    }
    .push-sm9 {
        margin-left: 75%;
    }
    .push-sm10 {
        margin-left: 83.33%;
    }
    .push-sm11 {
        margin-left: 91.66%;
    }
    .push-sm12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 576px) {
    .pull-sm1 {
        margin-right: 8.33%;
    }
    .pull-sm2 {
        margin-right: 16.66%;
    }
    .pull-sm3 {
        margin-right: 25%;
    }
    .pull-sm4 {
        margin-right: 33.33%;
    }
    .pull-sm5 {
        margin-right: 41.66%;
    }
    .pull-sm6 {
        margin-right: 50%;
    }
    .pull-sm7 {
        margin-right: 58.33%;
    }
    .pull-sm8 {
        margin-right: 66.66%;
    }
    .pull-sm9 {
        margin-right: 75%;
    }
    .pull-sm10 {
        margin-right: 83.33%;
    }
    .pull-sm11 {
        margin-right: 91.66%;
    }
    .pull-sm12 {
        margin-left: 100%;
    }
}

/* Medium Screen */

@media only screen and (min-width: 768px) {
    .md1 {
        width: 8.33%;
    }
    .md2 {
        width: 16.66%;
    }
    .md3 {
        width: 25%;
    }
    .md4 {
        width: 33.33%;
    }
    .md5 {
        width: 41.66%;
    }
    .md6 {
        width: 50%;
    }
    .md7 {
        width: 58.33%;
    }
    .md8 {
        width: 66.66%;
    }
    .md9 {
        width: 75%;
    }
    .md10 {
        width: 83.33%;
    }
    .md11 {
        width: 91.66%;
    }
    .md12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .push-md1 {
        margin-left: 8.33%;
    }
    .push-md2 {
        margin-left: 16.66%;
    }
    .push-md3 {
        margin-left: 25%;
    }
    .push-md4 {
        margin-left: 33.33%;
    }
    .push-md5 {
        margin-left: 41.66%;
    }
    .push-md6 {
        margin-left: 50%;
    }
    .push-md7 {
        margin-left: 58.33%;
    }
    .push-md8 {
        margin-left: 66.66%;
    }
    .push-md9 {
        margin-left: 75%;
    }
    .push-md10 {
        margin-left: 83.33%;
    }
    .push-md11 {
        margin-left: 91.66%;
    }
    .push-md12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .pull-md1 {
        margin-right: 8.33%;
    }
    .pull-md2 {
        margin-right: 16.66%;
    }
    .pull-md3 {
        margin-right: 25%;
    }
    .pull-md4 {
        margin-right: 33.33%;
    }
    .pull-md5 {
        margin-right: 41.66%;
    }
    .pull-md6 {
        margin-right: 50%;
    }
    .pull-md7 {
        margin-right: 58.33%;
    }
    .pull-md8 {
        margin-right: 66.66%;
    }
    .pull-md9 {
        margin-right: 75%;
    }
    .pull-md10 {
        margin-right: 83.33%;
    }
    .pull-md11 {
        margin-right: 91.66%;
    }
    .pull-md12 {
        margin-right: 100%;
    }
}

/* Large Screen */

@media only screen and (min-width: 992px) {
    .lg1 {
        width: 8.33%;
    }
    .lg2 {
        width: 16.66%;
    }
    .lg3 {
        width: 25%;
    }
    .lg4 {
        width: 33.33%;
    }
    .lg5 {
        width: 41.66%;
    }
    .lg6 {
        width: 50%;
    }
    .lg7 {
        width: 58.33%;
    }
    .lg8 {
        width: 66.66%;
    }
    .lg9 {
        width: 75%;
    }
    .lg10 {
        width: 83.33%;
    }
    .lg11 {
        width: 91.66%;
    }
    .lg12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .push-lg1 {
        margin-left: 8.33%;
    }
    .push-lg2 {
        margin-left: 16.66%;
    }
    .push-lg3 {
        margin-left: 25%;
    }
    .push-lg4 {
        margin-left: 33.33%;
    }
    .push-lg5 {
        margin-left: 41.66%;
    }
    .push-lg6 {
        margin-left: 50%;
    }
    .push-lg7 {
        margin-left: 58.33%;
    }
    .push-lg8 {
        margin-left: 66.66%;
    }
    .push-lg9 {
        margin-left: 75%;
    }
    .push-lg10 {
        margin-left: 83.33%;
    }
    .push-lg11 {
        margin-left: 91.66%;
    }
    .push-lg12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .pull-lg1 {
        margin-right: 8.33%;
    }
    .pull-lg2 {
        margin-right: 16.66%;
    }
    .pull-lg3 {
        margin-right: 25%;
    }
    .pull-lg4 {
        margin-right: 33.33%;
    }
    .pull-lg5 {
        margin-right: 41.66%;
    }
    .pull-lg6 {
        margin-right: 50%;
    }
    .pull-lg7 {
        margin-right: 58.33%;
    }
    .pull-lg8 {
        margin-right: 66.66%;
    }
    .pull-lg9 {
        margin-right: 75%;
    }
    .pull-lg10 {
        margin-right: 83.33%;
    }
    .pull-lg11 {
        margin-right: 91.66%;
    }
    .pull-lg12 {
        margin-right: 100%;
    }
}

/* Extra Large Screen */

@media only screen and (min-width: 1200px) {
    .xl1 {
        width: 8.33%;
    }
    .xl2 {
        width: 16.66%;
    }
    .xl3 {
        width: 25%;
    }
    .xl4 {
        width: 33.33%;
    }
    .xl5 {
        width: 41.66%;
    }
    .xl6 {
        width: 50%;
    }
    .xl7 {
        width: 58.33%;
    }
    .xl8 {
        width: 66.66%;
    }
    .xl9 {
        width: 75%;
    }
    .xl10 {
        width: 83.33%;
    }
    .xl11 {
        width: 91.66%;
    }
    .xl12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .push-xl1 {
        margin-left: 8.33%;
    }
    .push-xl2 {
        margin-left: 16.66%;
    }
    .push-xl3 {
        margin-left: 25%;
    }
    .push-xl4 {
        margin-left: 33.33%;
    }
    .push-xl5 {
        margin-left: 41.66%;
    }
    .push-xl6 {
        margin-left: 50%;
    }
    .push-xl7 {
        margin-left: 58.33%;
    }
    .push-xl8 {
        margin-left: 66.66%;
    }
    .push-xl9 {
        margin-left: 75%;
    }
    .push-xl10 {
        margin-left: 83.33%;
    }
    .push-xl11 {
        margin-left: 91.66%;
    }
    .push-xl12 {
        margin-left: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .pull-xl1 {
        margin-right: 8.33%;
    }
    .pull-xl2 {
        margin-right: 16.66%;
    }
    .pull-xl3 {
        margin-right: 25%;
    }
    .pull-xl4 {
        margin-right: 33.33%;
    }
    .pull-xl5 {
        margin-right: 41.66%;
    }
    .pull-xl6 {
        margin-right: 50%;
    }
    .pull-xl7 {
        margin-right: 58.33%;
    }
    .pull-xl8 {
        margin-right: 66.66%;
    }
    .pull-xl9 {
        margin-right: 75%;
    }
    .pull-xl10 {
        margin-right: 83.33%;
    }
    .pull-xl11 {
        margin-right: 91.66%;
    }
    .pull-xl12 {
        margin-right: 100%;
    }
}

/* Navigation bar
========================================================================== */

.navbar  {
    height: 60px;
   
}

.fixed {
    position: fixed;
    z-index: 1;
}

/*.navbar-white {
    color: white;
    background: transparent;
}*/

.navbar-default {
    background: #f5f5f5;
}

.navbar-reverse {
    color: white;
    background: rgba(0,0,0,.8);
}

.navbar__ul {
    margin: 0;
    line-height: 60px;
}

.navbar__ul ul {
    list-style-type: none;
}

.navbar__ul > li {
    display: inline-block;
    line-height: 50px;
    padding: 5px 25px;
}


.navbar__ul > li:hover {
    color: #337ab7;
}

.navbar__ul li a {
    color: inherit;
    text-decoration: none;
}

.navbar__ul li a:visited {
    color: inherit;
}

.navbar__line {
    line-height: 60px;
    height: 60px;
}

.navbar__line img {
    padding: 5px;
    max-height: 60px;
}

.navbar__line h1,
.navbar__line h2,
.navbar__line h3,
.navbar__line h4,
.navbar__line h5,
.navbar__line h6 {
    margin: 0;
}

/* Dropdown menu
========================================================================== */

.dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    left: 0;
    padding: 5px 35px;
    background: #f5f5f5;
    z-index: 1;
}

.dropdown {
    position: relative;
}

ul.dropdown-content {
    width: 200%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li:hover {
    color: #330ab7;
    cursor: pointer;
}

/* Button
========================================================================== */

.btn {
    padding: .4em .8em;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    color: #9e9e9e;
}

.btn-transperant {
    border-radius: 0;
    background-color: transparent;
    color: #337ab7;
    border: 2px solid #337ab7;
}

.btn-transperant:hover {
    background-color: #337ab7;
    color: white; 
}

.btn:focus {
    outline: none;
}

.btn-lg {
    font-size: 1.3em;
}

.btn-primary, .btn-material {
    transition: all .35s;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
}

.btn-material {
    color: #fff;
    background-color: #26a69a;
}

.btn-material:hover, .btn-primary:hover {
     opacity: 0.85;
}

.btn.disabled {
    background-color: #dfdfdf;
    color: #9f9f9f;
    cursor: not-allowed;
    opacity: .65;
}

.ipt-material {
    padding: .4em .8em;
    border: none;
    outline: none;
    border-bottom: 1px solid #9e9e9e;
    transition: all .3s;
}

.ipt-material:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 1px solid #26a69a;
}


/* Box-shadow material design
========================================================================== */

.bsd-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.bsd-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}

.bsd-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.bsd-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
}

.bsd-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,.30), 0 15px 12px rgba(0,0,0,.22);
}

/* Card
========================================================================== */

.card {
    margin: .5rem 0 1rem 0;
    position: relative;
    background-color: #fff;
    min-width: 200px;
    max-width: 500px;
}

.card__content, 
.card__action {
    padding: 12px 24px;  
}

.card__content {
    border-bottom: 1px solid #dfdfdf;
}

.card__img {
    position: relative;
}

.card__action a {
    text-decoration: none;
}

.card__img-title {
    position: absolute;
    left: 24px;
    bottom: 24px;
    display: block;
    color: white;
    font-size: 20px;
}

.card-horizontal {
    width: 100%;
    display: flex;
}

.card-horizontal .card__img {
    overflow: hidden;
}

.card__info {
    position: relative;
}

.card-horizontal .card__action {
    position: absolute;
    bottom: 0;
}

/* Vertical align, Horizontal align, Center align
========================================================================== */

.demo {
    height: 500px;
    background: #dfdfdf;
}

.row-valign, .col-valign, .cen-valign {
    display: flex;
}

.row-valign {
    align-items: center;
}

.col-valign {
    flex-direction: column;
    justify-content: center;
}

.cen-valign {
    justify-content: center;
    align-items: center;
}

/* Table
========================================================================== */

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.table thead tr {
    border-bottom: 1px solid #cfcfcf;
}

.table th {
    background: #eaeef0;
    color: #78909c;
}

.table th, 
.table td {
    padding: 15px 35px 15px 5px;
}

.table-stripped tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Search bar
========================================================================== */

input.search-bar {
    width: 100px;
    border: 2px solid #ccc;
    color: #aaa;
    border-radius: 20px;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-position: left; 
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 5px 5px 5px 30px;
    transition: all .3s;
}

input.search-bar:focus {
    width: 150px;
}

/* Footer
========================================================================== */

footer {
    border: 1px solid #ccc;
    background: #f5f5f5;
}

/* Carousel
========================================================================== */

.carousel {
    height: inherit;
    position: relative;
}

.carousel__item {
    height: inherit;
    display: none;
}

.carousel__item img {
    min-width: 100%;
    max-height: 100%;
}

.carousel__item-text {
    padding: 15px;
    margin: auto;
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,.5);
}

/*.carousel__indicator {
    padding: 15px;
    margin: auto;
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,.6);
}*/

.carousel__prev-item,
.carousel__next-item {
   position: absolute;

}

/* Parallax
========================================================================== */

.parallax {
    background-image: url("http://comverge.com.au/wp-content/uploads/Parallax-background.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}