body {
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

.clock-app {
    height: 80vh;
    max-width: 100%;
}

.clock-app > * {
    margin: 20px;
}

#new-clock > div {
    border: 1px solid grey;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
}

canvas {
    display: block;
    margin: 10px auto;
}