.blog-content {
  width: 80%;
  max-width: 700px;
  margin: 20px auto;
  border: 20px solid #bdc3c7;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
.post {
  margin: 20px 0 20px 0;
}
.post-date {
  text-transform: uppercase;
  color: #3498db;
  font-weight: 500;
  letter-spacing: 0.2em;
}

.post-title {
  text-transform: capitalize;
}

h2{
  color: #2c3e50;
  font-weight: bold;
  font-size: 2em;
}

.post-summary {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}
