#header-board {
  text-align: center;
}
.board {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  padding: 0;
}

.board td {
  width: 100px;
  /*height: 100px;*/
}
.vertical {
  border-bottom: 1px black solid;
  padding: 0;
}
.horizontal {
  border-right: 1px black solid;
  padding: 0;
}
